 
 .nav-bar-container {
    list-style-type: none;
    margin: 0;
    padding : 0; 
}

.nav-bar-item {
    display: inline;
    padding-right: .5em; 
    font-size: 20px;
}

.table-item {
    border: 3px solid black; 
    margin: 2px
}

.flex-container {
    display: flex; 
    justify-content: space-around;
    
}

.p-text {
    color: rgb(50, 50, 50)
}

.link {
    padding-right: 1em;
    font-size: 20px; 
}

